<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="::APP_PACKAGE::" android:versionCode="::APP_BUILD_NUMBER::" android:versionName="::APP_VERSION::" android:installLocation="::ANDROID_INSTALL_LOCATION::">

	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

	::foreach ANDROID_PERMISSIONS::<uses-permission android:name="::__current__::" />
	::end::

	<application ::foreach ANDROID_APPLICATION::::if ((value != null) && (value != ""))::::key::="::value::" ::end::::end::>

		::if (WIN_ORIENTATION=="portrait")::
		<meta-data android:name="SDL_ENV.SDL_IOS_ORIENTATIONS" android:value="Portrait PortraitUpsideDown" />
		::elseif (WIN_ORIENTATION=="landscape")::
		<meta-data android:name="SDL_ENV.SDL_IOS_ORIENTATIONS" android:value="LandscapeLeft LandscapeRight" />
		::end::

		<activity ::foreach ANDROID_ACTIVITY::::if ((value != null) && (value != ""))::::key::="::value::" ::end::::end::>

			<intent-filter>

				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="tv.ouya.intent.category.GAME" />

			</intent-filter>

			::foreach ANDROID_ACCEPT_FILE_INTENT::
			<intent-filter>

				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="::__current__::" />

			</intent-filter>
			::end::

		</activity>

	</application>

</manifest>
