<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="::APP_BUILD_NUMBER::" android:versionName="::APP_VERSION::" android:installLocation="::ANDROID_INSTALL_LOCATION::">

	<!-- OpenGL ES 2.0 -->
	<uses-feature android:glEsVersion="0x00020000" />

	<!-- Touchscreen support -->
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

	<!-- Game controller support -->
	<uses-feature android:name="android.hardware.bluetooth" android:required="false" />
	<uses-feature android:name="android.hardware.gamepad" android:required="false" />
	<uses-feature android:name="android.hardware.usb.host" android:required="false" />

	<!-- External mouse input events -->
	<uses-feature android:name="android.hardware.type.pc" android:required="false" />

	<!-- Low latency audio -->
	<uses-feature android:name="android.hardware.audio.low_latency" android:required="false" />
	<uses-feature android:name="android.hardware.audio.pro" android:required="false" />

	::foreach ANDROID_PERMISSIONS::<uses-permission android:name="::__current__::" />
	::end::

	<application ::foreach ANDROID_APPLICATION::::if ((value != null) && (value != ""))::::key::="::value::" ::end::::end::>

		::if (WIN_ORIENTATION=="portrait")::
		<meta-data android:name="SDL_ENV.SDL_IOS_ORIENTATIONS" android:value="Portrait PortraitUpsideDown" />
		::elseif (WIN_ORIENTATION=="landscape")::
		<meta-data android:name="SDL_ENV.SDL_IOS_ORIENTATIONS" android:value="LandscapeLeft LandscapeRight" />
		::end::

		<activity ::foreach ANDROID_ACTIVITY::::if ((value != null) && (value != ""))::::key::="::value::" ::end::::end::>

			<intent-filter>

				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="tv.ouya.intent.category.GAME" />

			</intent-filter>

			<intent-filter>

				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />

			</intent-filter>

			<intent-filter>

				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />

			</intent-filter>

		</activity>

	</application>

</manifest>
