*/.DS_Store
.DS_Store
.DS_Store?
Export/
ndll/*/lime*
ndll/*/liblime*
ndll/*/nme*
nddl/*/libnme*
project/all_objs
project/obj
project/vc*.pdb
project/winrt/shaders/
*.userprefs
*.swp
.idea/
*.iml
tools/*.n
tools/*.exe
haxedoc.xml
docs/*.xml
docs/xml
docs/pages*
*.git*
