[submodule "project/lib/vorbis"]
	path = project/lib/vorbis
	url = https://github.com/native-toolkit/vorbis
[submodule "project/lib/sdl"]
	path = project/lib/sdl
	url = https://github.com/native-toolkit/sdl
[submodule "project/lib/openal"]
	path = project/lib/openal
	url = https://github.com/native-toolkit/openal
[submodule "project/lib/curl"]
	path = project/lib/curl
	url = https://github.com/native-toolkit/curl
[submodule "project/lib/ogg"]
	path = project/lib/ogg
	url = https://github.com/native-toolkit/ogg
[submodule "project/lib/zlib"]
	path = project/lib/zlib
	url = https://github.com/native-toolkit/zlib
[submodule "project/lib/neko"]
	path = project/lib/neko
	url = https://github.com/native-toolkit/neko
[submodule "project/lib/png"]
	path = project/lib/png
	url = https://github.com/native-toolkit/png
[submodule "project/lib/jpeg"]
	path = project/lib/jpeg
	url = https://github.com/native-toolkit/jpeg
[submodule "project/lib/freetype"]
	path = project/lib/freetype
	url = https://github.com/native-toolkit/freetype
[submodule "project/lib/harfbuzz"]
	path = project/lib/harfbuzz
	url = https://github.com/native-toolkit/harfbuzz
[submodule "project/lib/cairo"]
	path = project/lib/cairo
	url = https://github.com/native-toolkit/cairo
[submodule "project/lib/pixman"]
	path = project/lib/pixman
	url = https://github.com/native-toolkit/pixman
[submodule "project/lib/lzma"]
	path = project/lib/lzma
	url = https://github.com/native-toolkit/lzma
[submodule "project/lib/tinyfiledialogs"]
	path = project/lib/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs
[submodule "project/lib/efsw"]
	path = project/lib/efsw
	url = https://github.com/native-toolkit/efsw
[submodule "project/lib/vpx"]
	path = project/lib/vpx
	url = https://github.com/native-toolkit/vpx
[submodule "project/lib/webm"]
	path = project/lib/webm
	url = https://github.com/native-toolkit/webm
[submodule "project/lib/mbedtls"]
	path = project/lib/mbedtls
	url = https://github.com/native-toolkit/mbedtls
[submodule "project/lib/mojoal"]
	path = project/lib/mojoal
	url = https://github.com/native-toolkit/mojoal
