*/.DS_Store
.DS_Store
.DS_Store?
bin/
Export/
ndll/*/lime*
ndll/*/liblime*
ndll/*/nme*
nddl/*/libnme*
project/all_objs
project/obj
project/vc*.pdb
project/winrt/shaders/
*.userprefs
*.swp
.idea/
*.iml
