*/.DS_Store
.DS_Store
.DS_Store?
Export/
ndll/*/lime*
ndll/*/liblime*
ndll/*/nme*
nddl/*/libnme*
project/all_objs
project/obj
project/vc*.pdb
project/winrt/shaders/
*.userprefs
*.swp
.idea/
*.iml
tools/*.n
tools/*.exe
haxedoc.xml
docs/*.xml
docs/xml
docs/pages*
legacy/ndll/*/lime*
legacy/ndll/*/liblime*
legacy/project/all_objs
legacy/project/obj
.vscode/settings.json
package-lock.json
node_modules
!templates/**/node_modules