<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	::if (languages != null)::<key>CFBundleLocalizations</key>
	<array>::foreach languages::
		<string>::__current__::</string>::end::
	</array>::end::
	<key>CFBundleDisplayName</key>
	<string>::APP_TITLE::</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>::APP_PACKAGE::</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>::APP_VERSION::</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>::APP_BUILD_NUMBER::</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	::if (IOS_LAUNCH_STORYBOARD != null)::<key>UILaunchStoryboardName</key>
	<string>::IOS_LAUNCH_STORYBOARD::</string>::end::
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		::foreach REQUIRED_CAPABILITY::<key>::name::</key>
		::if value::<true/>::else::<false/>::end::::end::
	</dict>
	<key>UIStatusBarHidden</key>
	<::WIN_FULLSCREEN::/>
	<key>UIRequiresFullScreen</key>
	<::WIN_FULLSCREEN::/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<::!WIN_FULLSCREEN::/>
	::if (IOS_APP_ORIENTATION != null)::<key>UISupportedInterfaceOrientations</key>
	::IOS_APP_ORIENTATION::::end::
	<key>NSAppTransportSecurity</key>
	<dict>
		::if (IOS_ALLOW_INSECURE_HTTP != null)::<key>NSExceptionDomains</key>
		<dict>
			::foreach IOS_ALLOW_INSECURE_HTTP::<key>::domain::</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>::end::::else::<key>NSAllowsArbitraryLoads</key>
		<true/>::end::
	</dict>
	::if (IOS_NON_EXEMPT_ENCRYPTION != null)::<key>ITSAppUsesNonExemptEncryption</key><::IOS_NON_EXEMPT_ENCRYPTION:: />::end::
</dict>
</plist>