<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>::APP_TITLE::</title>

        <style>

            #lime_canvas {
                display: block;
                width: ::WIN_WIDTH::px;
                height: ::WIN_HEIGHT::px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2em;
                position: relative;
            }

        </style>
		
        <script type="text/javascript" src="./lib/soundmanager/soundmanager2-nodebug-jsmin.js"></script>        
        <script type="text/javascript" src="./lib/modernizr.js"></script>

    </head>

    <body style="padding: 0; margin: 0; background-color: #FFFFFF;">
        
		::if linkedLibraries::::foreach (linkedLibraries)::
		<script type="text/javascript" src="::__current__::"></script>::end::::end::
        <script type="text/javascript" src="./::APP_FILE::.js"></script>    

        <canvas id="lime_canvas" tabindex="1" width="::WIN_WIDTH::" height="::WIN_HEIGHT::"> </canvas>
        
    </body>

</html>
